<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--모바일 브라우저 뷰 포인트-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0" />
    <meta http-equiv="imagetoolbar" content="no" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="pragma" content="no-cache" />
    <title>Offline Meeting Gathering(OMG) | 오마이갓</title>
    <link rel="icon" type="image/png" href="https://s3.ap-northeast-2.amazonaws.com/img.castlejun-2.shop/UOMG_LOGO.png" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="http://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  </head>
  <body>
    <header id="header">
      <div class="header-top">
        <nav id="header-wrap" class="header-box">
          <div id="header-logo">
            <img
              src="https://s3.ap-northeast-2.amazonaws.com/img.castlejun-2.shop/UOMG_LOGO.png"
              id="header-logo-img"
              onclick="window.location.href='/';"
            />
            <img
              src="https://s3.ap-northeast-2.amazonaws.com/img.castlejun-2.shop/UOMG_LOGO.png"
              id="header-logo-m-img"
              onclick="window.location.href='/';"
            />
          </div>
          <div id="header-show-btn"></div>
          <div id="nav-list-btn"></div>
          <ul id="header-nav">
            <li>
              <a class="header-nav-btn" href="/"><span>홈</span></a>
            </li>
            <li>
              <a class="header-nav-btn" href="/meetings/game"><span>게임</span></a>
            </li>
            <li>
              <a class="header-nav-btn" href="/meetings/dating"><span>소개팅</span></a>
            </li>
            <li>
              <a class="header-nav-btn" href="/meetings/sports"><span>스포츠</span></a>
            </li>
            <li>
              <a class="header-nav-btn" href="/meetings/study"><span>스터디</span></a>
            </li>
            <li>
              <a class="header-nav-btn home" href="/meetings/hobby"><span>취미</span></a>
            </li>
          </ul>
          <ul id="header-user-box">
            <li>
              <a class="header-nav-btn" href="/users/logout"><span>로그아웃</span></a>
            </li>
            <li>
              <a class="header-nav-btn" href="/users/my-page"><span>마이 페이지</span></a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <div id="side-mask" style="display: none">
      <div id="side-menuBar" style="right: -300px">
        <div id="side-top">
          <div class="side-top-user-box">
            <span id="side-user-name" onclick="window.location.href='/users/my-page'" style="cursor: pointer">
              <b style="font-weight: 700"><%= user.email %></b>
            </span>
          </div>
        </div>
        <ul id="side-nav">
          <li>
            <a class="side-nav-btn" href="/"><span>홈</span></a>
          </li>
          <li>
            <a class="side-nav-btn" href="/meetings/game"><span>게임</span></a>
          </li>
          <li>
            <a class="side-nav-btn" href="/meetings/dating"><span>소개팅</span></a>
          </li>
          <li>
            <a class="side-nav-btn" href="/meetings/sports"><span>스포츠</span></a>
          </li>
          <li>
            <a class="side-nav-btn" href="/meetings/study"><span>스터디</span></a>
          </li>
          <li>
            <a class="side-nav-btn home" href="/meetings/hobby"><span>취미</span></a>
          </li>
          <li>
            <a class="side-nav-btn" href="/users/my-page"><span>마이 페이지</span></a>
          </li>
          <li>
            <a class="side-nav-btn" href="/users/logout"><span>로그아웃</span></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="body-container">
      <div class="main-container">
        <div role="main">
          <div class="board" id="content">
            <div class="main-content">
              <div class="banner">
                <div class="subject-banner" style="text-align: center" id="main-banner">
                  <div>
                    <a class="event-display" target="_blank" href="meetings/game">
                      <img class="banner-img" src="https://s3.ap-northeast-2.amazonaws.com/img.castlejun-2.shop/hobby_banner.png" onclick />
                    </a>
                  </div>
                </div>
              </div>
              <div class="body-content">
                <div class="side-bar">
                  <ul>
                    <b style="margin-bottom: 10px">UOMG INFORMATION</b>
                    <li><a href="/competitions">진행 중인 대회</a></li>
                    <li><a href="/notices">공지사항</a></li>
                    <li><a href="/questions">자주 묻는 질문</a></li>
                    <li><a href="/inquirys">1:1 문의</a></li>
                  </ul>
                </div>
                <div id="dateNav" class="sub-header" style="padding-bottom: 10px">
                  <div class="tabWrap">
                    <div class="swipe-tabs">
                      <ul class="swipe-tab slick-initialized slick-slider">
                        <button
                          class="slick-prev slick-arrow slick-disabled"
                          aria-label="Previous"
                          type="button"
                          aria-disabled="true"
                          style=""
                        >
                          Previous
                        </button>
                        <div class="slick-list draggable">
                          <div class="slick-track" style="opacity: 1; width: 1932px; transform: translate3d(0px, 0px, 0px)"></div>
                        </div>
                        <button class="slick-next slick-arrow" aria-label="Next" type="button" style="" aria-disabled="false">Next</button>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="write-btn-box">
                  <div class="write-btn-wrap">
                    <a href="/meetings/writing?type=<%= type %>" class="write-btn" id="write-form-btn">글쓰기</a>
                  </div>
                </div>
                <div class="title-list">
                  <li class="competiton-content" style="">
                    <div class="notice-li" style="font-weight: bold; width: 10%"><p>시간</p></div>
                    <div class="notice-type" style="font-weight: bold; width: 15%"><p>유형</p></div>
                    <div style="font-weight: bold; text-align: center; margin-left: 20px" class="notice-title">제목</div>
                    <div style="width: 10%; font-weight: bold; text-align: center" class="notice-status">상태</div>
                  </li>
                  <ul class="schedule-list"></ul>
                </div>
              </div>
            </div>
            <div class="paging-wrap">
              <div class="paging-box">
                <div class="paging-list"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer omg-footer">
      <p>© 2022. OMG ALL RIGHTS RESERVED.</p>
    </div>
    <script type="text/javascript">
      const totalData = parseInt('<%= meeting.length %>');
      let diffTotalData;
      const dataPerPage = parseInt(5);
      const pageCount = 5;
      let currentPage = 1;
      let index;

      function paging(totalData, dataPerPage, pageCount, currentPage, type) {
        totalPage = Math.ceil(totalData / dataPerPage);
        if (totalPage < pageCount) pageCount = totalPage;
        let pageGroup = Math.ceil(currentPage / pageCount);
        let last = pageGroup * pageCount;
        if (last > totalPage) last = totalPage;
        let first = last - (pageCount - 1);
        let next = last + 1;
        let prev = first - 1;
        let pageHtml = '';
        if (prev > 0) pageHtml += "<a href='#' class='paging-btn prev' id='prev'>이전</a>";
        for (let i = first; i <= last; i++) {
          if (currentPage == i) pageHtml += "<a href='#' class='paging-btn active' id = " + i + '>' + i + '</a>';
          else pageHtml += "<a href='#' class='paging-btn' id=" + i + '>' + i + '</a>';
        }
        if (last < totalPage) pageHtml += "<a href='#' class='paging-btn next' id='next'>다음</a>";
        $('.paging-list').html(pageHtml);
        $('.paging-btn').click(function () {
          $('.paging-btn').removeClass('active');
          $(this).addClass('active');
          const $id = $(this).attr('id');
          selectedPage = $(this).text();

          if ($id == 'next') selectedPage = next;
          if ($id == 'prev') selectedPage = prev;

          currentPage = selectedPage;
          paging(totalData, dataPerPage, pageCount, selectedPage);
          if (type) displayDiffData(selectedPage, dataPerPage);
          else displayData(selectedPage, dataPerPage);
        });
      }
      function displayData(currentPage, dataPerPage) {
        let chartHtml = '';
        currentPage = parseInt(currentPage);
        dataPerPage = parseInt(dataPerPage);
        $.ajax({
          url: '/meetings',
          method: 'GET',
          data: { diff_date: index, type: 'hobby' },
          dataType: 'json',
          success: function (response) {
            const meeting = response.meeting;
            for (let i = (currentPage - 1) * dataPerPage; i < Math.min(totalData, (currentPage - 1) * dataPerPage + dataPerPage); i++) {
              chartHtml +=
                "<li class='meeting-content' style=''>" +
                "<a href='/meetings/" +
                meeting[i].mainName +
                '/' +
                meeting[i].id +
                "'>" +
                "<div class='meeting-time'><p>" +
                meeting[i].time +
                '</p></div>' +
                "<div class='meeting-type'><p>" +
                meeting[i].subject +
                '</p></div>' +
                "<div class='meeting-info'>" +
                "<div class=''>" +
                meeting[i].title +
                '</div>' +
                "<div class='meeting-place'>" +
                meeting[i].place +
                '</div>' +
                '</div>' +
                "<div style='width: 10%'>" +
                "<div class='meeting-status '" +
                meeting[i].status_c +
                '>' +
                meeting[i].status +
                '</div>' +
                '</div>' +
                '</a>' +
                '</li>';
            }
            $('.meeting-content').css('display', 'none');
            $('.schedule-list').html(chartHtml);
          },
        });
      }
      function displayDiffData(currentPage, dataPerPage) {
        let chartHtml = '';
        currentPage = parseInt(currentPage);
        dataPerPage = parseInt(dataPerPage);
        $.ajax({
          url: '/meetings',
          method: 'GET',
          data: { diff_date: index, type: 'hobby' },
          dataType: 'json',
          success: function (response) {
            const meeting = response.meeting;
            for (let i = (currentPage - 1) * dataPerPage; i < Math.min(diffTotalData, (currentPage - 1) * dataPerPage + dataPerPage); i++) {
              chartHtml +=
                "<li class='meeting-content' style=''>" +
                "<a href='/meetings/" +
                meeting[i].mainName +
                '/' +
                meeting[i].id +
                "'>" +
                "<div class='meeting-time'><p>" +
                meeting[i].time +
                '</p></div>' +
                "<div class='meeting-type'><p>" +
                meeting[i].subject +
                '</p></div>' +
                "<div class='meeting-info'>" +
                "<div class=''>" +
                meeting[i].title +
                '</div>' +
                "<div class='meeting-place'>" +
                meeting[i].place +
                '</div>' +
                '</div>' +
                "<div style='width: 10%'>" +
                "<div class='meeting-status '" +
                meeting[i].status_c +
                '>' +
                meeting[i].status +
                '</div>' +
                '</div>' +
                '</a>' +
                '</li>';
            }
            $('.meeting-content').css('display', 'none');
            $('.schedule-list').html(chartHtml);
          },
        });
      }
      $(function () {
        displayData(1, dataPerPage);
        paging(totalData, dataPerPage, pageCount, 1, 0);
        $('.slick-track').ready(function () {
          const date = new Date();
          const week = ['일', '월', '화', '수', '목', '금', '토'];
          for (let i = 0; i < 14; i++) {
            const today = moment();
            let todayDate = today.add(i, 'days');
            if (i < 7) {
              if ((date.getDay() + i) % 7 == 6) {
                $('.slick-track').append(
                  '<li id="datewrap" class="dateWrap slick-slide isSat" data-slick-index="' +
                    i +
                    '" aria-hidden="false" tabindex="0" style="width: 132px"><p>' +
                    todayDate.format('D') +
                    '</p><span>' +
                    week[(date.getDay() + i) % 7] +
                    '</span></li>',
                );
              } else if ((date.getDay() + i) % 7 == 0) {
                $('.slick-track').append(
                  '<li id="datewrap" class="dateWrap slick-slide isSun" data-slick-index="' +
                    i +
                    '" aria-hidden="false" tabindex="0" style="width: 132px"><p>' +
                    todayDate.format('D') +
                    '</p><span>' +
                    week[(date.getDay() + i) % 7] +
                    '</span></li>',
                );
              } else {
                $('.slick-track').append(
                  '<li id="datewrap" class="dateWrap slick-slide" data-slick-index="' +
                    i +
                    '" aria-hidden="false" tabindex="0" style="width: 132px"><p>' +
                    todayDate.format('D') +
                    '</p><span>' +
                    week[(date.getDay() + i) % 7] +
                    '</span></li>',
                );
              }
            } else {
              if ((date.getDay() + i) % 7 == 6) {
                $('.slick-track').append(
                  '<li id="datewrap" class="dateWrap slick-slide isSat" data-slick-index="' +
                    i +
                    '" aria-hidden="true" tabindex="-1" style="width: 132px"><p>' +
                    todayDate.format('D') +
                    '</p><span>' +
                    week[(date.getDay() + i) % 7] +
                    '</span></li>',
                );
              } else if ((date.getDay() + i) % 7 == 0) {
                $('.slick-track').append(
                  '<li id="datewrap" class="dateWrap slick-slide isSun" data-slick-index="' +
                    i +
                    '" aria-hidden="true" tabindex="-1" style="width: 132px"><p>' +
                    todayDate.format('D') +
                    '</p><span>' +
                    week[(date.getDay() + i) % 7] +
                    '</span></li>',
                );
              } else {
                $('.slick-track').append(
                  '<li id="datewrap" class="dateWrap slick-slide" data-slick-index="' +
                    i +
                    '" aria-hidden="true" tabindex="-1" style="width: 132px"><p>' +
                    todayDate.format('D') +
                    '</p><span>' +
                    week[(date.getDay() + i) % 7] +
                    '</span></li>',
                );
              }
            }
          }
          $('li[data-slick-index=0]').addClass('isActive');
          $('.dateWrap').click(function () {
            $('li[class*=isActive]').removeClass('isActive');
            index = $(this).attr('data-slick-index');
            $('li[data-slick-index=' + index + ']').addClass('isActive');
            $('.meeting-content').css('display', 'none');
            $.ajax({
              url: '/meetings',
              method: 'GET',
              data: { diff_date: index, type: 'hobby' },
              dataType: 'json',
              success: function (response) {
                diffTotalData = response.meeting.length;
                paging(diffTotalData, dataPerPage, pageCount, 1, 1);
                displayDiffData(1, dataPerPage);
              },
            });
          });
          $('.slick-next').click(function () {
            const nvalue = $('li[tabindex="0"]').attr('data-slick-index');
            if (nvalue < 7) {
              $('li[data-slick-index=' + nvalue + ']').attr('tabindex', '-1');
              $('li[data-slick-index=' + nvalue + ']').attr('aria-hidden', 'true');
              $('li[data-slick-index=' + nvalue + ']').css('display', 'none');
              $('li[data-slick-index=' + (parseInt(nvalue) + 7) + ']').attr('tabindex', '0');
              $('li[data-slick-index=' + (parseInt(nvalue) + 7) + ']').attr('aria-hidden', 'false');
              $('li[data-slick-index=' + (parseInt(nvalue) + 7) + ']').css('display', 'block');
              if ($('li[tabindex="0"]').attr('data-slick-index') == 7) $('.slick-next').css('opacity', '0.25');
              else $('.slick-next').css('opacity', '1');
              $('.slick-prev').css('opacity', '1');
            }
          });
          $('.slick-prev').click(function () {
            const pvalue = $('li[tabindex="0"]').attr('data-slick-index');
            if (pvalue > 0) {
              $('li[data-slick-index=' + (parseInt(pvalue) - 1) + ']').attr('tabindex', '0');
              $('li[data-slick-index=' + (parseInt(pvalue) - 1) + ']').attr('aria-hidden', 'false');
              $('li[data-slick-index=' + (parseInt(pvalue) - 1) + ']').css('display', 'block');
              $('li[data-slick-index=' + (parseInt(pvalue) + 6) + ']').attr('tabindex', '-1');
              $('li[data-slick-index=' + (parseInt(pvalue) + 6) + ']').attr('aria-hidden', 'true');
              $('li[data-slick-index=' + (parseInt(pvalue) + 6) + ']').css('display', 'none');
              if ($('li[tabindex="0"]').attr('data-slick-index') == 0) $('.slick-prev').css('opacity', '0.25');
              else $('.slick-prev').css('opacity', '1');
              $('.slick-next').css('opacity', '1');
            }
          });
          if ($('li[tabindex="0"]').attr('data-slick-index') == 0) $('.slick-prev').css('opacity', '0.25');
          $('#header-show-btn').click(function () {
            $('#side-mask').css('display', 'block');
            $('#side-menuBar').css('right', '0px');
            $('#side-menuBar').addClass('visible');
            $('#header').css('right', '16px');
          });
          $('#side-mask').click(function () {
            $('#side-mask').css('display', 'none');
            $('#side-menuBar').css('right', '-300px');
            $('#side-menuBar').removeClass('visible');
            $('#header').css('right', '0');
          });
        });
      });
    </script>
  </body>
</html>
