<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0" />
    <meta http-equiv="imagetoolbar" content="no" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="pragma" content="no-cache" />
    <title>Offline Meeting Gathering(OMG) | 오마이갓</title>
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="icon" type="image/png" href="https://s3.ap-northeast-2.amazonaws.com/img.castlejun-2.shop/UOMG_LOGO.png" />
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;lang=en" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  </head>
  <body>
    <div class="content">
      <div class="header">
        <img
          class="logo"
          src="https://s3.ap-northeast-2.amazonaws.com/img.castlejun-2.shop/UOMG_LOGO.png"
          onclick="window.location.href='/';"
        />
      </div>
      <div class="form-box">
        <h1 style="width: auto; margin-left: 70px; margin-right: 70px"><b>핸드폰 인증</b></h1>
        <div class="message-box hidden"></div>
        <div class="email-box">
          <div class="login-box">
            <form method="post">
              <label class="user-form"> 인증 번호 <input class="input-box" type="text" id="snsNum" required autofocus /></label>
              <div style="width: 100%; text-align: center; margin-bottom: 10px">
                <input style="width: auto" class="send-btn" type="submit" value="인증 문자 확인" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="footer omg-footer">
      <p>© 2022. OMG ALL RIGHTS RESERVED.</p>
    </div>
    <script>
      $(function () {
        $('.send-btn').click(function () {
          const phonenumber = '<%= phonenumber %>';
          const verifyCode = $('#snsNum').val();
          $.ajax({
            url: '/users/sns-verification',
            method: 'POST',
            dataType: 'json',
            data: {
              verifyCode: verifyCode,
              phonenumber: phonenumber,
            },
            success: function (data) {
              console.log(data.success);
              if (data.success) {
                alert('인증이 완료되었습니다.');
                window.location.href = '/users/my-page';
              } else {
                alert('인증에 실패하였습니다.');
                window.location.href = '/users/sns-verifi';
              }
            },
            error: function (request, error) {
              console.log(error);
            },
          });
        });
      });
    </script>
  </body>
</html>
