#header {
  padding-top: 20px;
  padding-right: 160px;
  padding-left: 160px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 101;
  min-width: 320px;
  height: 175px;
  background-color: white;
  color: #222;
  font-size: 20px;
  box-shadow: 0 1px 8px rgb(0 0 0 / 10%), 0 1px 8px rgb(0 0 0 / 3%);
}

body {
  position: relative;
  font-family: 'Apple SD Gothic Neo', 'Noto Sans CJK KR', 'Malgun Gothic', 'dotum', 'gulim', sans-serif;
  margin: 0;
}

.body-container {
  width: auto;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
  min-height: 940px !important;
}

.header-wrap {
  position: relative;
  display: block;
  margin: 0 auto;
  max-width: 1200px;
}

#header-nav {
  margin: 50px 0;
  float: left;
  overflow: hidden;
}

#header-nav > li {
  float: left;
  display: inline-block;
  position: relative;
  padding: 0;
  margin: 0;
}

#header-user-box {
  margin-right: 30px;
  margin-top: 50px;
  float: right;
  overflow: hidden;
}

#header-user-box > li {
  float: right;
  display: inline-block;
  position: relative;
  padding: 0;
  margin: 0;
}

#header-logo {
  position: relative;
  float: left;
  width: 249px;
  height: 122px;
}

#header-logo-m-img {
  display: none;
  width: 200px;
  cursor: pointer;
}
@media screen and (max-width: 2000px) {
  .banner {
    width: 100%;
    height: 100% !important;
  }
  .event-banner {
    padding: 0 !important;
    width: 100%;
  }
  .swipe-tabs {
    width: 100%;
  }
}
@media screen and (max-width: 1300px) {
  .header-top {
    height: 70px;
  }
  #header {
    text-align: center;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  #header-user-box {
    display: none;
  }
  #header-logo-m-img {
    display: inline;
    width: 220px;
  }
  #header-logo-img {
    display: none;
  }
  .banner-img {
    width: 100% !important;
  }
  .banner {
    width: 100%;
    height: 100% !important;
  }
  .event-banner {
    padding: 0 !important;
    width: 100%;
  }
  .swipe-tabs {
    width: 100%;
  }
}

@media screen and (max-width: 970px) {
  #header-nav {
    display: none;
  }
  #header-logo {
    text-align: center;
    width: 100%;
    height: 20px;
    margin: 0;
  }
}
ul {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-left: 0;
  list-style: none;
  margin-bottom: 10px;
}

li {
  text-align: -webkit-match-parent;
}

a {
  text-decoration: none !important;
  color: black;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  color: black;
}

.header-nav-btn.home {
  color: rgba(0, 0, 0, 1) !important;
}

.header-nav-btn {
  display: block;
  padding: 0 20px;
  font-size: 0.9em;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.55) !important;
  text-transform: uppercase;
}

.body-container:before {
  display: table;
  content: ' ';
  box-sizing: border-box;
}

.board {
  padding-top: 175px;
  margin-right: -15px;
  margin-left: -15px;
  display: block;
}

.banner {
  height: 260px;
  text-align: center;
  background-color: #fafafa;
  border-bottom: 1px solid rgb(238, 238, 238);
}

.event-banner {
  padding-top: 20px;
  padding-left: 400px;
  padding-right: 400px;
  padding-bottom: 0;
  width: 100%;
  text-align: center;
}

.slick-slide img {
  display: inline-block !important;
}

.slick-dots {
  position: static !important;
}

.banner-img {
  width: 1140px;
}

.footer {
  background-color: #f0f0f0;
  height: 60px;
}

div.footer > p {
  text-align: center;
  padding-top: 20px;
  font-size: 14px;
  margin: 0 0 10px;
}

#dateNav {
  display: inherit;
  background-color: white;
  z-index: 2;
  left: 0;
  position: sticky;
  top: 0;
}

#dateNav .tabWrap {
  padding: 10px 30px;
  max-width: 1024px;
  margin: 0 auto;
}

#dateNav .tabWrap .slick-prev:before {
  color: rgba(0, 0, 0, 1);
  opacity: 1;
}

#dateNav .tabWrap .slick-prev:after {
  color: rgba(0, 0, 0, 1);
  opacity: 1;
}

#dateNav .tabWrap .slick-next:before {
  color: rgba(0, 0, 0, 1);
}

.dateWrap.isSat {
  color: blue !important;
}

.dateWrap.isSun {
  color: Red !important;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  user-select: none;
  touch-action: pan-y;
}

.swipe-tab {
  align-items: center;
  justify-content: center;
  background: none;
  border: 0;
  cursor: pointer;
  text-align: center;
  transition: all 0.5s;
}

.slick-prev {
  left: -25px;
  font-size: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

.slick-next {
  right: -25px;
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: 0;
  background: 0 0;
}

.slick-next:before {
  content: '→';
  font-family: slick;
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color: #fff;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before {
  display: table;
  content: '';
}

.dateWrap.isActive {
  background-color: skyblue;
  color: white;
}

.swipe-tab .dateWrap {
  border-radius: 40px;
  padding: 13px 0;
  margin: 0 3px;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
}

.swipe-tab .dateWrap p {
  font-size: 22px;
  line-height: 22px;
  padding-top: 8px;
  font-weight: 400;
}

.swipe-tab.slick-initialized .dateWrap {
  display: block;
}

p {
  margin: 0;
  padding: 0;
  word-break: break-all;
}

button {
  appearance: auto;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: none;
  text-shadow: none;
  text-align: center;
  align-items: flex-start;
}

.swipe-tab .dateWrap span {
  font: 'Open Sans';
  font-weight: 600;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
