#header {
  padding-top: 20px;
  padding-right: 160px;
  padding-left: 160px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 101;
  min-width: 320px;
  height: 175px;
  background-color: white;
  color: #222;
  font-size: 20px;
  box-shadow: 0 1px 8px rgb(0 0 0 / 10%), 0 1px 8px rgb(0 0 0 / 3%);
}

body {
  position: relative;
  overflow-y: scroll;
  font-family: 'Apple SD Gothic Neo', 'Noto Sans CJK KR', 'Malgun Gothic', 'dotum', 'gulim', sans-serif;
  margin: 0;
}

.body-container {
  width: auto;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
  min-height: 940px !important;
}

.header-wrap {
  position: relative;
  display: block;
  margin: 0 auto;
  max-width: 1200px;
}

#header-nav {
  margin: 50px 0;
  float: left;
  overflow: hidden;
}

#header-nav > li {
  float: left;
  display: inline-block;
  position: relative;
  padding: 0;
  margin: 0;
}

#header-user-box {
  margin-right: 30px;
  margin-top: 50px;
  float: right;
  overflow: hidden;
}

#header-user-box > li {
  float: right;
  display: inline-block;
  position: relative;
  padding: 0;
  margin: 0;
}

#header-logo {
  position: relative;
  float: left;
  width: 249px;
  height: 122px;
}

#header-logo-m-img {
  display: none;
  width: 200px;
  cursor: pointer;
}

#header-show-btn {
  display: none;
}

#side-mask {
  overflow: hidden;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 180;
  background-color: rgba(34, 34, 34, 0.75);
  zoom: 1;
}

#side-menuBar {
  position: absolute;
  width: 300px;
  background-color: white;
  z-index: 102;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 60%);
  height: 100%;
  font-size: 14px;
}

#side-top {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100px;
  line-height: 100px;
  font-size: 12px;
  text-align: center;
  background-color: white;
}

.side-top-user-box {
  margin: 0 auto;
  line-height: 100px;
}

#side-user-name {
  font-size: 15px;
  display: inline-block;
  line-height: 1.3;
}

#side-nav {
  margin-top: 100px;
  position: absolute;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 130px;
  overflow-y: auto;
  padding-left: 8px;
}

#side-nav > li {
  margin-bottom: 15px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.side-nav-btn.home > span {
  color: rgba(0, 0, 0, 1) !important;
}

.side-nav-btn {
  position: relative;
  display: block;
  height: 24px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  padding: 8px 0 8px 20px;
  color: rgba(0, 0, 0, 0.55) !important;
}

.side-bar {
  position: absolute;
  width: 250px;
  height: 300px;
  margin-top: 150px;
  margin-left: 100px;
  padding: 20px 20px;
  float: left;
  text-align: center;
  border-radius: 5px;
  border: 1px solid rgb(238, 238, 238);
  background-color: #fafafa;
}

.side-bar > ul {
  height: 100%;
  line-height: 30px;
}

.side-bar > ul > li {
  margin-left: 40px;
  margin-right: 40px;
  padding-top: 20px;
  padding-bottom: 3px;
  border-bottom: 1px dotted rgb(201, 199, 199);
}

@media screen and (max-width: 2000px) {
  .side-bar {
    display: none;
  }
  .banner {
    width: 100%;
    height: 100% !important;
  }
  .event-banner {
    padding: 0 !important;
    width: 100%;
  }
  .swipe-tabs {
    width: 100%;
  }
}

@media screen and (max-width: 1400px) {
  .header-top {
    height: 70px;
  }
  #header {
    text-align: center;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  #header-user-box {
    display: none;
  }
  #header-logo-m-img {
    display: inline;
    width: 220px;
  }
  #header-logo-img {
    display: none;
  }
  .banner-img {
    width: 100% !important;
  }
  .banner {
    width: 100%;
    height: 100% !important;
  }
  .event-banner {
    padding: 0 !important;
    width: 100%;
  }
  .swipe-tabs {
    width: 100%;
  }
}

@media screen and (max-width: 970px) {
  #header-nav {
    display: none;
  }
  #header-logo {
    text-align: center;
    width: 100%;
    height: 20px;
    margin: 0;
  }
  #header-show-btn {
    display: inline-block;
    float: right;
    width: 60px;
    height: 60px;
    cursor: pointer;
    background: url(https://s3.ap-northeast-2.amazonaws.com/img.castlejun-2.shop/m-botton.png) no-repeat center;
    color: black;
    margin: 10px 15px;
  }
}

ul {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-left: 0;
  list-style: none;
  margin-bottom: 10px;
}

li {
  text-align: -webkit-match-parent;
}

a {
  text-decoration: none !important;
  color: black;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  color: black;
}

.header-nav-btn.home {
  color: rgba(0, 0, 0, 1) !important;
}

.header-nav-btn {
  display: block;
  padding: 0 20px;
  font-size: 0.9em;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.55) !important;
  text-transform: uppercase;
}

.board {
  padding-top: 175px;
  margin-right: -15px;
  margin-left: -15px;
  display: block;
}

.banner {
  height: 260px;
  text-align: center;
  background-color: #fafafa;
  border-bottom: 1px solid rgb(238, 238, 238);
}

.event-banner {
  padding-top: 20px;
  padding-left: 400px;
  padding-right: 400px;
  padding-bottom: 0;
  width: 100%;
  text-align: center;
}

.subject-banner {
  padding-top: 30px;
  padding-left: 400px;
  padding-right: 400px;
  padding-bottom: 0;
  width: 100%;
  text-align: center;
}

.slick-slide img {
  display: inline-block !important;
}

.slick-dots {
  position: static !important;
}

.banner-img {
  width: 1140px;
}

.footer {
  background-color: #f0f0f0;
  height: 60px;
}

div.footer > p {
  text-align: center;
  padding-top: 20px;
  font-size: 14px;
  margin: 0 0 10px;
}

#dateNav {
  display: inherit;
  background-color: white;
  z-index: 2;
  left: 0;
  position: sticky;
  top: 0;
}

#dateNav .tabWrap {
  padding: 10px 30px;
  max-width: 1024px;
  margin: 0 auto;
}

#dateNav .tabWrap .slick-prev::before {
  color: rgba(0, 0, 0, 1);
  opacity: 1;
}

#dateNav .tabWrap .slick-prev:after {
  color: rgba(0, 0, 0, 1);
  opacity: 1;
}

#dateNav .tabWrap .slick-next:before {
  color: rgba(0, 0, 0, 1);
  opacity: 1;
}

.dateWrap.isSat {
  color: blue !important;
}

.dateWrap.isSun {
  color: Red !important;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  user-select: none;
  touch-action: pan-y;
}

.swipe-tab {
  align-items: center;
  justify-content: center;
  background: none;
  border: 0;
  cursor: pointer;
  text-align: center;
  transition: all 0.5s;
}

.slick-prev {
  left: -25px;
  font-size: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

.slick-next {
  right: -25px;
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: 0;
  background: 0 0;
}

.slick-next {
  content: '→';
  font-family: slick;
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color: #fff;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track {
  display: table;
  content: '';
}

.dateWrap.isActive {
  background-color: skyblue;
  color: white;
}

.swipe-tab .dateWrap {
  border-radius: 40px;
  padding: 13px 0;
  margin: 0 3px;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
}

.swipe-tab .dateWrap p {
  font-size: 22px;
  line-height: 22px;
  padding-top: 8px;
  font-weight: 400;
}

.swipe-tab.slick-initialized .dateWrap {
  display: block;
}

p {
  margin: 0;
  padding: 0;
  word-break: break-all;
}

button {
  appearance: auto;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: none;
  text-shadow: none;
  text-align: center;
  align-items: flex-start;
}

.swipe-tab .dateWrap span {
  font: 'Open Sans';
  font-weight: 600;
  font-size: 16px;
}

.title-list {
  max-width: 1024px;
  margin: 0 auto;
}

.meeting-content a {
  font-size: 18px;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 15px;
}

.meeting-time {
  width: 10%;
  text-align: center;
  font-weight: 600;
  font-size: 17px;
}

.meeting-type {
  width: 20%;
  text-align: center;
  font-weight: 700;
  font-size: 17px;
}

.meeting-info {
  margin-left: 20px;
  width: 80%;
}

.meeting-place {
  font-size: 13px;
  color: #999;
  margin-top: 3px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.meeting-status {
  color: white;
  background-color: skyblue;
  width: 100%;
  text-align: center;
  padding: 8px 5px;
  border-radius: 8px;
  font-size: 14px;
}

.paging-wrap::before {
  content: ' ';
  display: table;
}

.paging-wrap {
  position: relative;
  width: 100%;
  height: auto;
  margin: 15px auto;
}

.paging-box {
  width: auto;
  height: auto;
  line-height: normal;
  text-align: center;
  margin-right: 0;
}

.paging-box:before {
  content: ' ';
  display: table;
}

.paging-list {
  margin-right: -1px;
  display: inline-block;
}

.paging-list::after {
  clear: both;
}

.paging-btn.prev::before {
  content: '<<';
}

.paging-btn.next::before {
  content: '>>';
}

.paging-btn {
  background-color: #f3f3f3;
  height: 34px;
  min-width: 40px;
  padding: 0 2px;
  float: left;
  text-align: center;
  font-weight: bold;
  line-height: 34px;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid #ddd;
  border-left: none;
}

.paging-btn:first-child {
  border-left: 1px solid #ddd;
}

.paging-btn.prev,
.paging-btn.next {
  background-color: #fff !important;
  color: #000;
}

.paging-btn.active,
.paging-btn:hover {
  background-color: #fff !important;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
