#header {
  padding-top: 20px;
  padding-right: 160px;
  padding-left: 160px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 101;
  min-width: 320px;
  height: 175px;
  background-color: white;
  color: #222;
  font-size: 20px;
  box-shadow: 0 1px 8px rgb(0 0 0 / 10%), 0 1px 8px rgb(0 0 0 / 3%);
}

body {
  position: relative;
  overflow-y: scroll;
  font-family: 'Apple SD Gothic Neo', 'Noto Sans CJK KR', 'Malgun Gothic', 'dotum', 'gulim', sans-serif;
  margin: 0;
}

.warning {
  width: 100%;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.body-content-wrap {
  margin-top: 20px;
  background-color: white;
  max-width: 1200px;
}

.right-body-wrap {
  height: fit-content;
  margin-top: 20px;
  margin-left: 10px;
  width: 55%;
  background-color: white;
}

.body-container {
  width: auto;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
  min-height: 940px !important;
}

.header-wrap {
  position: relative;
  display: block;
  margin: 0 auto;
  max-width: 1200px;
}

#header-nav {
  margin: 50px 0;
  float: left;
  overflow: hidden;
}

#header-nav > li {
  float: left;
  display: inline-block;
  position: relative;
  padding: 0;
  margin: 0;
}

#header-user-box {
  margin-right: 30px;
  margin-top: 50px;
  float: right;
  overflow: hidden;
}

#header-user-box > li {
  float: right;
  display: inline-block;
  position: relative;
  padding: 0;
  margin: 0;
}

#header-logo {
  position: relative;
  float: left;
  width: 249px;
  height: 122px;
}

#header-logo-m-img {
  display: none;
  width: 200px;
  cursor: pointer;
}

#header-show-btn {
  display: none;
}

#side-mask {
  overflow: hidden;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 180;
  background-color: rgba(34, 34, 34, 0.75);
  zoom: 1;
}

#side-menuBar {
  position: absolute;
  width: 300px;
  background-color: white;
  z-index: 102;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 60%);
  height: 100%;
  font-size: 14px;
}

#side-top {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100px;
  line-height: 100px;
  font-size: 12px;
  text-align: center;
  background-color: white;
}

.side-top-user-box {
  margin: 0 auto;
  line-height: 100px;
}

#side-user-name {
  font-size: 15px;
  display: inline-block;
  line-height: 1.3;
}

#side-nav {
  margin-top: 100px;
  position: absolute;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 130px;
  overflow-y: auto;
  padding-left: 8px;
}

#side-nav > li {
  margin-bottom: 15px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.side-nav-btn.home > span {
  color: rgba(0, 0, 0, 1) !important;
}

.side-nav-btn {
  position: relative;
  display: block;
  height: 24px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  padding: 8px 0 8px 20px;
  color: rgba(0, 0, 0, 0.55) !important;
}

.side-bar {
  position: absolute;
  width: 250px;
  height: 320px;
  margin-top: 140px;
  margin-left: 100px;
  padding: 20px 20px;
  float: left;
  text-align: center;
  border-radius: 5px;
  border: 1px solid rgb(238, 238, 238);
  background-color: #fafafa;
  z-index: 1;
}

.side-bar > ul {
  height: 100%;
  line-height: 30px;
}

.side-bar > ul > li {
  margin-left: 40px;
  margin-right: 40px;
  padding-top: 20px;
  padding-bottom: 3px;
  border-bottom: 1px dotted rgb(201, 199, 199);
}

@media screen and (max-width: 2000px) {
  .side-bar {
    display: none;
  }
  .banner {
    width: 100%;
    height: 100% !important;
  }
  .event-banner {
    padding: 0 !important;
    width: 100%;
  }
  .swipe-tabs {
    width: 100%;
  }
}

@media screen and (max-width: 1450px) {
  .header-top {
    height: 70px;
  }
  #header {
    text-align: center;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  #header-user-box {
    display: none;
  }
  #header-logo-m-img {
    display: inline;
    width: 220px;
  }
  #header-logo-img {
    display: none;
  }
  .writing-wrap {
    margin: 0 !important;
  }
  .banner-img {
    width: 100% !important;
  }
  .banner {
    width: 100%;
    height: 100% !important;
  }
  .event-banner {
    padding: 0 !important;
    width: 100%;
  }
  .swipe-tabs {
    width: 100%;
  }
}

@media screen and (max-width: 1140px) {
  .content-aside {
    display: none;
  }
  .content-title .mp {
    display: none;
    text-align: center !important;
    font-size: 35px !important;
  }
  .content-wrapper {
    display: inline-block;
  }
  .contents {
    text-align: center;
  }
  .content-aside {
    margin-right: 0 !important;
  }
}

@media screen and (max-width: 970px) {
  .right-body-wrap {
    display: none !important;
  }

  .right-body-m {
    display: block !important;
  }

  #header-nav {
    display: none;
  }
  #header-logo {
    text-align: center;
    width: 100%;
    height: 20px;
    margin: 0;
  }
  #header-show-btn {
    display: inline-block;
    float: right;
    width: 60px;
    height: 60px;
    cursor: pointer;
    background: url(https://s3.ap-northeast-2.amazonaws.com/img.castlejun-2.shop/m-botton.png) no-repeat center;
    color: black;
    margin: 10px 15px;
  }
  .content-main {
    display: none;
  }
  .content-aside {
    display: block !important;
  }
  .content-title .mp {
    display: block;
    text-align: center !important;
    font-size: 35px !important;
  }
}

ul {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-left: 0;
  list-style: none;
  margin-bottom: 10px;
}

li {
  text-align: -webkit-match-parent;
}

a {
  text-decoration: none !important;
  color: black;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  color: black;
}

img:hover {
  cursor: pointer;
}

.header-nav-btn.home {
  color: rgba(0, 0, 0, 1) !important;
  border-bottom: 5px solid black;
}

.header-nav-btn {
  display: block;
  margin-left: 13px;
  margin-right: 13px;
  padding-bottom: 4px;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 0.95em;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.35) !important;
  text-transform: uppercase;
}

.board {
  padding-top: 175px;
  margin-right: -15px;
  margin-left: -15px;
  display: block;
}

.banner {
  height: 260px;
  text-align: center;
  background-color: #fafafa;
  border-bottom: 1px solid rgb(238, 238, 238);
}

.meeting-banner {
  height: 100%;
  text-align: center;
  background-color: #fafafa;
  border-bottom: 1px solid rgb(238, 238, 238);
}

.meeting-banner-img {
  width: auto;
  height: 500px;
}

.meeting-main-banner {
  margin: 0 auto;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  height: 100%;
  text-align: center;
}

.event-banner {
  padding-top: 20px;
  padding-left: 400px;
  padding-right: 400px;
  padding-bottom: 0;
  width: 100%;
  text-align: center;
}

.subject-banner {
  padding-top: 30px;
  padding-left: 400px;
  padding-right: 400px;
  padding-bottom: 0;
  width: 100%;
  text-align: center;
}

.slick-slide img {
  display: inline-block !important;
}

.slick-dots {
  position: static !important;
}

.banner-img {
  width: 1140px;
}

.footer {
  background-color: #f0f0f0;
  height: 60px;
}

div.footer > p {
  text-align: center;
  padding-top: 20px;
  font-size: 14px;
  margin: 0 0 10px;
}

#dateNav {
  display: inherit;
  background-color: white;
  z-index: 2;
  left: 0;
  position: sticky;
  top: 0;
}

#dateNav .tabWrap {
  padding: 10px 30px;
  max-width: 1024px;
  margin: 0 auto;
}

#dateNav .tabWrap .slick-prev::before {
  color: rgba(0, 0, 0, 1);
  opacity: 1;
}

#dateNav .tabWrap .slick-prev:after {
  color: rgba(0, 0, 0, 1);
  opacity: 1;
}

#dateNav .tabWrap .slick-next:before {
  color: rgba(0, 0, 0, 1);
  opacity: 1;
}

.dateWrap.isSat {
  color: blue !important;
}

.dateWrap.isSun {
  color: Red !important;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  user-select: none;
  touch-action: pan-y;
}

.swipe-tab {
  align-items: center;
  justify-content: center;
  background: none;
  border: 0;
  cursor: pointer;
  text-align: center;
  transition: all 0.5s;
}

.slick-prev {
  left: -25px;
  font-size: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

.slick-next {
  right: -25px;
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: 0;
  background: 0 0;
}

.slick-next {
  content: '→';
  font-family: slick;
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color: #fff;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track {
  display: table;
  content: '';
}

.dateWrap.isActive {
  background-color: skyblue;
  color: white;
}

.swipe-tab .dateWrap {
  border-radius: 40px;
  padding: 13px 0;
  margin: 0 3px;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
}

.swipe-tab .dateWrap p {
  font-size: 22px;
  line-height: 22px;
  padding-top: 8px;
  font-weight: 400;
}

.swipe-tab.slick-initialized .dateWrap {
  display: block;
}

p {
  margin: 0;
  padding: 0;
  word-break: break-all;
}

button {
  appearance: auto;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: none;
  text-shadow: none;
  text-align: center;
  align-items: flex-start;
}

.swipe-tab .dateWrap span {
  font: 'Open Sans';
  font-weight: 600;
  font-size: 16px;
}

.write-btn-box {
  max-width: 1200px;
  margin: 0 auto;
  height: 50px;
  text-align: right;
}

.write-btn-wrap {
  padding: 0 15px;
  text-align: left;
  width: 10%;
  float: right;
}

.write-btn:before {
  content: '';
  margin: 6px 6px 0 0;
  background-position: -84px -90px;
  width: 12px;
  height: 12px;
  display: inline-block;
  background-image: url(https://ssl.pstatic.net/static/cafe/cafe_pc/sp/sp_icon_white_72ca546e.svg);
  background-repeat: no-repeat;
  vertical-align: top;
}

.write-btn {
  width: 80px;
  padding: 8px 0;
  display: inline-block;
  min-width: 56px;
  height: 41px;
  box-sizing: border-box;
  border: 1px solid #d3d3d3;
  text-align: center;
  vertical-align: top;
}

.write-btn::after {
  content: '';
  display: block;
  clear: both;
}

.title-list {
  max-width: 1200px;
  margin: 0 auto;
}

.title-list > li {
  margin: 0;
}

.schedule-list {
  margin-top: 5px;
}

.competiton-content {
  font-size: 18px;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 15px;
}

.notice-content a {
  font-size: 18px;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 15px;
}

.notice-li {
  width: 6%;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}

.notice-type {
  width: 14%;
  text-align: center;
  font-weight: 700;
  font-size: 17px;
}

.notice-title {
  margin-left: 40px;
  width: 80%;
}

.notice-status {
  color: black;
  width: 100%;
  text-align: center;
  padding: 10px 5px;
  font-size: 17px;
}

.question-li {
  font-weight: bold;
  width: 10%;
  text-align: center;
  font-size: 18px;
}

.question-title {
  font-weight: bold;
  text-align: left;
  width: 80%;
}

.question-content {
  font-size: 18px;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 15px;
  cursor: pointer;
}

.question-answer {
  padding: 20px 10px;
  width: 80%;
  display: none;
  font-size: 17px;
  cursor: pointer;
}

.writing-wrap {
  margin: 10px 400px;
}

.writing-header {
  position: relative;
  margin-top: 20px;
  border-bottom: 1px solid #ddd;
}

.writing-header > h2 {
  margin-bottom: 16px;
  font-size: 22px;
  color: black;
}

.writing-post-btn {
  position: absolute;
  bottom: 12px;
  right: 0;
}

.writing-btn,
.delete-btn,
.status-btn {
  min-width: 60px;
  height: 36px;
  padding: 0 12px;
  font-size: 14px;
  line-height: 36px;
  background-color: skyblue;
  color: white;
  border: 1px solid white;
  display: inline-block;
  border-radius: 6px;
  box-sizing: border-box;
  font-weight: 700;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
}

.row {
  margin-top: 12px;
}

#writing-title,
#writing-type,
#writing-subtype,
#writing-content,
#writing-notice,
#writing-answer {
  height: 50px;
  width: 100%;
  display: block;
  min-height: 50px;
  padding: 15px 12px 10px;
  border: 1px solid #cbcbcc;
  box-sizing: border-box;
  overflow: hidden;
  resize: none;
  word-break: break-all;
  font-size: 18px;
  letter-spacing: -0.23px;
  line-height: 17px;
  outline: none;
}

#writing-date,
#writing-time,
#writing-fee,
#writing-hour,
#writing-place,
#writing-people,
#writing-kakao-address {
  height: 50px;
  display: block;
  min-height: 50px;
  padding: 15px 12px 10px;
  border: 1px solid #cbcbcc;
  box-sizing: border-box;
  overflow: hidden;
  resize: none;
  word-break: break-all;
  font-size: 18px;
  letter-spacing: -0.23px;
  line-height: 17px;
  outline: none;
}

.meeting-content a {
  font-size: 18px;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 15px;
}

.meeting-time {
  width: 10%;
  text-align: center;
  font-weight: 600;
  font-size: 19px;
}

.meeting-type {
  width: 15%;
  text-align: center;
  font-weight: 700;
  font-size: 17px;
}

.info-title > p > span {
  padding-bottom: 5px;
  font-weight: 700;
  font-size: 24px;
}

.info-content {
  margin: 5px 50px;
  padding: 20px;
  border: 2px solid #ddd;
  border-radius: 10px;
  background-color: #ddd;
}

.info-user-content {
  margin: 0 50px;
  padding: 20px;
}

.profile-photo {
  display: table-cell;
  vertical-align: middle;
}

.profile-photo > img {
  width: 64px;
  height: 64px;
  border-radius: 100px;
  vertical-align: middle;
}

.profile-id {
  padding-left: 10px;
  display: table-cell;
  vertical-align: middle;
}

.profile-id > span {
  color: #999;
  font-size: 17px;
}

.meeting-info {
  margin-left: 20px;
  width: 80%;
}

.meeting-title {
  text-align: center;
  margin-bottom: 60px !important;
  margin: 10px auto;
  font-weight: 700;
  font-size: 35px;
  color: black;
}

.meeting-place {
  font-size: 13px;
  color: #999;
  margin-top: 3px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.meeting-status {
  color: white;
  background-color: skyblue;
  width: 100%;
  text-align: center;
  padding: 10px 5px;
  border-radius: 8px;
  font-size: 15px;
}

.meeting-status.isDone {
  color: #ccc;
  background-color: #eeeeee;
}

.nav-item {
  display: flex;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
  z-index: 4;
  margin: 0;
}

.nav-list {
  padding: 20px 15px;
  display: block;
  font-weight: 700;
  font-size: 20px;
}

.section-pc {
  text-align: center;
  margin: 5px 10px;
  padding: 30px 20px;
}

.section-m {
  text-align: center;
  margin: 5px 10px;
  padding: 30px 20px;
}

.info-content {
  font-size: 19px;
  font-weight: 600;
}

.section-info,
.section-notice,
.section-time,
.section-people,
.section-user {
  padding: 40px 0;
  margin: 0 40px;
  border-bottom: 1px solid #ddd;
}

.competition-status {
  color: white;
  background-color: skyblue;
  width: 100%;
  text-align: center;
  padding: 10px 5px;
  border-radius: 8px;
  font-size: 15px;
}

.paging-wrap::before {
  content: ' ';
  display: table;
}

.paging-wrap {
  position: relative;
  width: 100%;
  height: auto;
  margin: 15px auto;
}

.paging-box {
  width: auto;
  height: auto;
  line-height: normal;
  text-align: center;
  margin-right: 0;
}

.paging-box:before {
  content: ' ';
  display: table;
}

.paging-list {
  margin-right: -1px;
  display: inline-block;
}

.paging-list::after {
  clear: both;
}

.paging-btn.prev::before {
  content: '<<';
}

.paging-btn.next::before {
  content: '>>';
}

.paging-btn {
  background-color: #f3f3f3;
  height: 34px;
  min-width: 40px;
  padding: 0 2px;
  float: left;
  text-align: center;
  font-weight: bold;
  line-height: 34px;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid #ddd;
  border-left: none;
}

.paging-btn:first-child {
  border-left: 1px solid #ddd;
}

.paging-btn.prev,
.paging-btn.next {
  background-color: #fff !important;
  color: #000;
}

.paging-btn.active,
.paging-btn:hover {
  background-color: #fff !important;
}

.contents {
  position: relative;
  margin: 0 auto;
  box-sizing: border-box;
}

.width-max {
  max-width: 100%;
}

.width-xl {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
}

.min-height-large {
  min-height: 700px;
}

.content-title {
  padding: 50px 0 0;
}

.content-title .mp {
  max-width: 1170px;
  margin: 0 auto;
  font-size: 26px;
  text-align: left;
}

.content-aside {
  width: 220px;
  margin-right: 45px;
  margin-bottom: 20px;
  float: left;
}

.content-aside .user-name {
  position: relative;
  margin-top: 20px;
  padding: 20px 0;
  font-size: 18px;
  color: black;
  border-top: 1px solid #e1e1e1;
}

.content-aside .user-name .user-profile > img,
.content-aside .user-name .user-profile {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  line-height: 24px;
  font-size: 17px;
  text-align: center;
}

.content-aside.mypage .cal {
  padding: 20px 0;
  box-sizing: border-box;
  border-top: 1px solid #dedfda;
  margin-top: -1px;
}

.content-aside.mypage .cal-title {
  color: #000;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  margin: 0;
}

.content-aside.mypage .cal > a {
  width: 100%;
  padding: 8px 0 0 0;
  font-size: 17px;
  color: #2e2e2e;
  font-weight: normal;
  line-height: 24px;
}

.cal-btn {
  display: inline-block;
  margin: 0;
  border: 0;
  cursor: pointer;
  height: auto;
  outline: none;
}

.content-main {
  float: left;
  width: calc(100%, -200px);
  margin-top: -30px;
}

.content-main .cal-title {
  position: relative;
  margin: 0 0 20px 0;
  padding: 0;
  border: 0;
  width: 100%;
}

.user-meeting {
  margin-bottom: 40px;
}

.user-meeting > .cal-title {
  padding-bottom: 10px;
  border-bottom: 3px solid black;
}

.content-main .cal-title > .meeting-label,
.content-main .cal-title > .userInfo-label {
  font-size: 23px;
  color: #111111;
  font-weight: bold;
}

.cal-btn.home {
  font-weight: bold !important;
  color: rgb(30, 32, 168) !important;
}

.meeting-history:first-child {
  margin-top: 0;
}

.meeting-history {
  position: relative;
  margin-top: 20px;
  border: 1px solid #dedfda;
}

.meeting-history .header {
  position: relative;
  padding: 17px 20px;
  background-color: #eeeeee;
  color: #a5a5a5;
  font-size: 18px;
  width: 800px;
}

.meeting-history .header > *:first-child {
  margin-left: 0;
}

.meeting-history .header > * {
  display: inline-block;
  margin-right: 20px;
  float: left;
  font-size: 16px;
  color: #111;
  font-weight: 400;
}

.meeting-history .header .title {
  max-width: 650px;
  max-height: 22px;
  overflow: hidden;
  width: 45%;
  float: left;
  font-size: 17px;
  font-weight: bold;
  color: #111;
  margin-top: -1px;
}

.meeting-history .header:after {
  content: '';
  display: block;
  clear: both;
}

.meeting-history .header .history-detail-btn,
.meeting-history .header .history-update-btn {
  width: 10%;
  float: right;
  padding: 0;
  font-size: 15px;
  margin-right: 0px;
  cursor: pointer;
}

.history-body {
  max-width: 800px;
  display: table;
  width: 100%;
  padding: 20px 0px;
  border-top: 1px solid #dedfda;
  box-sizing: border-box;
}

.history-body .subject-info {
  width: 33%;
  vertical-align: top;
  display: inline-block;
  text-align: center;
}

.history-body .place-info {
  display: inline-block;
  width: 33%;
  vertical-align: top;
  text-align: center;
}

.history-body .people-info {
  display: inline-block;
  width: 33%;
  vertical-align: top;
  text-align: center;
}

.history-body .subject-info > .subject:first-child,
.history-body .place-info > .place:first-child,
.history-body .people-info > .people:first-child {
  padding-top: 0;
}

.history-body .subject-info > .subject,
.history-body .place-info > .place,
.history-body .people-info > .people {
  display: inline-block;
  width: 100%;
  padding-top: 8px;
  line-height: 18px;
  font-size: 15px;
}

table.table-row td > div > img {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 100%;
}

.n-btn {
  display: inline-block;
  box-sizing: border-box;
  padding: 2px 8px 0px 8px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  transition: border 0.2s, background 0.2s ease-in-out;
}

.n-btn.btn-lighter {
  border: 1px solid #f1f1f1;
  background-color: #f1f1f1;
  color: #000000;
}

.va-b {
  vertical-align: middle;
  display: table-cell;
}

.n-btn.btn-accent {
  border: 1px solid #000000;
  background-color: #000000;
  color: #f1f1f1;
}

.n-table.table-row .validate-danger {
  color: #ff0000;
}

.n-table.table-row .validate {
  margin-top: 3px !important;
  display: inline-block;
  line-height: 32px;
  color: #14aaff;
  margin: -5px 5px;
}

.btn-group {
  margin-top: 20px;
}

.n-btn.w120 {
  min-width: 120px !important;
}

.n-table.table-row .n-btn {
  margin: -5px 0;
}

.n-hidden {
  display: block;
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}

.n-btn.btn-default {
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
  color: #000000;
}

.n-btn.btn-sm {
  min-width: 70px;
  height: 32px;
  line-height: 30px;
  padding-top: 0;
}

.n-table button {
  display: inline-block;
  vertical-align: middle;
}

.n-table {
  width: 100%;
  line-height: 1.5;
  font-size: 14px;
  border-collapse: collapse;
  table-layout: fixed;
}

.n-table.table-row td,
.n-table.table-row th {
  height: auto;
  padding: 15px 0;
  box-sizing: border-box;
  border-top: 1px solid #f1f1f1;
  border-bottom: none;
  font-size: 17px;
  text-align: left;
}

.n-table .passwd-modify .input,
.n-table .address-modify .input,
.n-table .school-modify .input {
  margin-top: 13px;
}

.n-table .passwd-modify .input > label,
.n-table .address-modify .input > label,
.n-table .school-modify .input > label {
  display: inline-block;
  min-width: 135px;
  line-height: 32px;
}

.n-table .passwd-modify .input .input-passwd-wrap.input-danger {
  border-color: #ff0000;
}

.n-table .passwd-modify .input .input-passwd-wrap,
.n-table .address-modify .input .input-address-wrap,
.n-table .school-modify .input .input-school-wrap {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
}

.n-table .passwd-modify .input .n-input,
.n-table .address-modify .input .n-input,
.n-table .school-modify .input .n-input {
  width: 240px;
  margin: 0;
}

.n-input {
  height: 32px;
  padding: 5px 6px;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
  box-sizing: border-box;
  font-size: 17px;
  line-height: 20px;
  transition: border 0.2s ease-in-out;
}

.mypage-content {
  max-width: 800px;
}

.n-table.table-row th {
  text-align: left;
  font-weight: bold;
}

.n-table strong {
  vertical-align: middle;
}

.n-table.table-row .certify {
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  color: rgb(75, 193, 240);
  margin-left: 10px;
  vertical-align: middle;
}

.mypage-content .n-table.table-row td {
  vertical-align: inherit;
}

td {
  display: table-cell;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
