<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0" />
    <meta http-equiv="imagetoolbar" content="no" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="pragma" content="no-cache" />
    <title>Offline Meeting Gathering(OMG) | 오마이갓</title>
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="icon" type="image/png" href="https://s3.ap-northeast-2.amazonaws.com/img.castlejun-2.shop/UOMG_LOGO.png" />
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;lang=en" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  </head>
  <body>
    <div class="content">
      <div class="header">
        <img
          class="logo"
          src="https://s3.ap-northeast-2.amazonaws.com/img.castlejun-2.shop/UOMG_LOGO.png"
          onclick="window.location.href='/';"
        />
      </div>
      <div class="form-box">
        <h1 style="width: auto; margin-left: 70px; margin-right: 70px"><b>비밀번호 초기화</b></h1>
        <div class="message-box hidden"></div>
        <div class="email-box">
          <div class="login-box">
            <form method="post" onsubmit="">
              <label class="user-form"> 비밀번호 재설정 <input class="input-box" type="password" id="password" required autofocus /></label>
              <label class="user-form"> 비밀번호 확인 <input class="input-box" type="password" id="password-confirm" required /></label>
              <div style="width: 100%; text-align: center; margin-bottom: 10px">
                <input type="submit" class="send-btn" value="제출" />
              </div>
              <label style="width: 100%; text-align: center; color: darkgray" class="find-password"
                ><a href="/users/login">로그인</a></label
              >
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="footer omg-footer">
      <p>© 2022. OMG ALL RIGHTS RESERVED.</p>
    </div>

    <script>
      $(function () {
        const token = '<%= token %>';
        $('.send-btn').click(function (e) {
          const passwd = $('#password').val();
          const passwdConfirm = $('#password-confirm').val();
          const passwdReset = sendAjax('/users/password-setting', { passwd: passwd, passwdConfirm: passwdConfirm, token: token });
          e.preventDefault();
        });

        function sendAjax(url, data) {
          let jsondata = JSON.stringify(data);
          const xhr = new XMLHttpRequest();
          xhr.open('POST', url);
          xhr.setRequestHeader('Content-Type', 'application/json');
          xhr.send(jsondata);

          xhr.addEventListener('load', function () {
            const message = JSON.parse(xhr.responseText);
            if (message.success) {
              $('#password').attr('readonly', true);
              $('#password-confirm').attr('readonly', true);
              alert('비밀번호 설정이 완료되었습니다.');
              window.location.href = '/users/login';
            } else {
              const resultDiv = document.querySelector('.message-box');
              resultDiv.innerHTML = message.message;
              resultDiv.removeAttribute('hidden');
            }
          });
        }
      });
    </script>
  </body>
</html>
