<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--모바일 브라우저 뷰 포인트-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0" />
    <meta http-equiv="imagetoolbar" content="no" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="pragma" content="no-cache" />
    <title>Offline Meeting Gathering(OMG) | 오마이갓</title>
    <link rel="icon" type="image/png" href="https://s3.ap-northeast-2.amazonaws.com/img.castlejun-2.shop/UOMG_LOGO.png" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="http://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  </head>
  <body>
    <header id="header">
      <div class="header-top">
        <nav id="header-wrap" class="header-box">
          <div id="header-logo">
            <img
              src="https://s3.ap-northeast-2.amazonaws.com/img.castlejun-2.shop/UOMG_LOGO.png"
              id="header-logo-img"
              onclick="window.location.href='/';"
            />
            <img
              src="https://s3.ap-northeast-2.amazonaws.com/img.castlejun-2.shop/UOMG_LOGO.png"
              id="header-logo-m-img"
              onclick="window.location.href='/';"
            />
          </div>
          <div id="header-show-btn"></div>
          <div id="nav-list-btn"></div>
          <ul id="header-nav">
            <li>
              <a class="header-nav-btn" href="/"><span>홈</span></a>
            </li>
            <li>
              <a class="header-nav-btn" href="/meetings/game"><span>게임</span></a>
            </li>
            <li>
              <a class="header-nav-btn" href="/meetings/dating"><span>소개팅</span></a>
            </li>
            <li>
              <a class="header-nav-btn" href="/meetings/sports"><span>스포츠</span></a>
            </li>
            <li>
              <a class="header-nav-btn" href="/meetings/study"><span>스터디</span></a>
            </li>
            <li>
              <a class="header-nav-btn" href="/meetings/hobby"><span>취미</span></a>
            </li>
          </ul>
          <ul id="header-user-box">
            <li>
              <a class="header-nav-btn" href="/users/logout"><span>로그아웃</span></a>
            </li>
            <li>
              <a class="header-nav-btn" href="/users/my-page"><span>마이 페이지</span></a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <div id="side-mask" style="display: none">
      <div id="side-menuBar" style="right: -300px">
        <div id="side-top">
          <div class="side-top-user-box">
            <span id="side-user-name" onclick="window.location.href='/users/my-page'" style="cursor: pointer">
              <b style="font-weight: 700"><%= user.email %></b>
            </span>
          </div>
        </div>
        <ul id="side-nav">
          <li>
            <a class="side-nav-btn" href="/"><span>홈</span></a>
          </li>
          <li>
            <a class="side-nav-btn" href="/meetings/game"><span>게임</span></a>
          </li>
          <li>
            <a class="side-nav-btn" href="/meetings/dating"><span>소개팅</span></a>
          </li>
          <li>
            <a class="side-nav-btn" href="/meetings/sports"><span>스포츠</span></a>
          </li>
          <li>
            <a class="side-nav-btn" href="/meetings/study"><span>스터디</span></a>
          </li>
          <li>
            <a class="side-nav-btn" href="/meetings/hobby"><span>취미</span></a>
          </li>
          <li>
            <a class="side-nav-btn" href="/users/my-page"><span>마이 페이지</span></a>
          </li>
          <li>
            <a class="side-nav-btn" href="/users/logout"><span>로그아웃</span></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="body-container">
      <div class="main-container">
        <div role="main">
          <div class="board" id="content">
            <div class="main-content">
              <div class="body-content">
                <div class="side-bar">
                  <ul>
                    <b style="margin-bottom: 10px">UOMG INFORMATION</b>
                    <li><a href="/competitions">진행 중인 대회</a></li>
                    <li><a href="/notices">공지사항</a></li>
                    <li style="font-weight: bold"><a href="/questions">자주 묻는 질문</a></li>
                    <li><a href="/inquirys">1:1 문의</a></li>
                  </ul>
                </div>
                <div class="title-list">
                  <ul class="schedule-list">
                    <li class="competiton-content" style="">
                      <div class="question-li"><p>번호</p></div>
                      <div class="question-title" style="text-align: center">제목</div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="paging-wrap">
              <div class="paging-box">
                <div class="paging-list"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer omg-footer">
      <p>© 2022. OMG ALL RIGHTS RESERVED.</p>
    </div>
    <script type="text/javascript">
      const totalData = parseInt('<%= question.length %>');
      let diffTotalData;
      const dataPerPage = parseInt(5);
      const pageCount = 5;
      let currentPage = 1;
      let index;

      function paging(totalData, dataPerPage, pageCount, currentPage) {
        totalPage = Math.ceil(totalData / dataPerPage);
        if (totalPage < pageCount) pageCount = totalPage;
        let pageGroup = Math.ceil(currentPage / pageCount);
        let last = pageGroup * pageCount;
        if (last > totalPage) last = totalPage;
        let first = last - (pageCount - 1);
        let next = last + 1;
        let prev = first - 1;
        let pageHtml = '';
        if (prev > 0) pageHtml += "<a href='#' class='paging-btn prev' id='prev'>이전</a>";
        for (let i = first; i <= last; i++) {
          if (currentPage == i) pageHtml += "<a href='#' class='paging-btn active' id = " + i + '>' + i + '</a>';
          else pageHtml += "<a href='#' class='paging-btn' id=" + i + '>' + i + '</a>';
        }
        if (last < totalPage) pageHtml += "<a href='#' class='paging-btn next' id='next'>다음</a>";
        $('.paging-list').html(pageHtml);
        $('.paging-btn').click(function () {
          $('.paging-btn').removeClass('active');
          $(this).addClass('active');
          const $id = $(this).attr('id');
          selectedPage = $(this).text();

          if ($id == 'next') selectedPage = next;
          if ($id == 'prev') selectedPage = prev;

          currentPage = selectedPage;
          paging(totalData, dataPerPage, pageCount, selectedPage);
          displayData(selectedPage, dataPerPage);
        });
      }
      function displayData(currentPage, dataPerPage) {
        let chartHtml = '';
        currentPage = parseInt(currentPage);
        dataPerPage = parseInt(dataPerPage);
        $.ajax({
          url: '/questions-list',
          method: 'GET',
          dataType: 'json',
          success: function (response) {
            const question = response.question;
            for (let i = (currentPage - 1) * dataPerPage; i < Math.min(totalData, (currentPage - 1) * dataPerPage + dataPerPage); i++) {
              chartHtml +=
                "<li class='question-content' style=''>" +
                "<div class='question-li'><p>" +
                question[i].id +
                '</p></div>' +
                "<div class='question-title'>" +
                question[i].title +
                '</div></li>' +
                "<div class='question-answer-wrap' style='display: flex'>" +
                "<div style='width: 20%'></div>" +
                "<div class='question-answer' id='answer_" +
                question[i].id +
                "'>" +
                question[i].content +
                '</div></div>';
            }
            $('.notice-content').css('display', 'none');
            prevChartHtml = $('.schedule-list').html();
            $('.schedule-list').html(prevChartHtml + chartHtml);
            $('.question-content').click(function (e) {
              index = $(this).children('div')[0].innerText;
              if ($('#answer_' + index + '').css('display') === 'none') {
                $('#answer_' + index + '').css('display', 'inline-block');
              } else {
                $('#answer_' + index + '').css('display', 'none');
              }
            });

            $('.question-answer').click(function (e) {
              $(this).css('display', 'none');
            });
          },
        });
      }
      $(function () {
        displayData(1, dataPerPage);
        paging(totalData, dataPerPage, pageCount, 1);
      });
    </script>
  </body>
</html>
