<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--모바일 브라우저 뷰 포인트-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0" />
    <meta http-equiv="imagetoolbar" content="no" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="pragma" content="no-cache" />
    <title>University Friends with Offline(UFO) | 대팅</title>
    <link rel="icon" type="image/png" href="https://ufwo.s3.ap-northeast-2.amazonaws.com/logo.jpeg" />
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <header id="header">
      <div class="header-top">
        <nav id="header-wrap" class="header-box">
          <div id="header-logo">
            <img src="https://ufwo.s3.ap-northeast-2.amazonaws.com/logo.jpeg" id="header-logo-img" onclick="window.location.href='/';" />
          </div>
          <div id="nav-list-btn"></div>
          <ul id="header-nav">
            <li>
              <a class="header-nav-btn home" href="/"><span>Home</span></a>
            </li>
            <li>
              <a class="header-nav-btn" href="/sports"><span>Sports Matching</span></a>
            </li>
            <li>
              <a class="header-nav-btn" href="/study"><span>Study Matching</span></a>
            </li>
            <li>
              <a class="header-nav-btn" href="/game"><span>Game Matching</span></a>
            </li>
            <li>
              <a class="header-nav-btn" href="/metting"><span>Meeting Matching</span></a>
            </li>
          </ul>
          <ul id="header-user-box">
            <li>
              <a class="header-nav-btn" href="/users/logout"><span>로그아웃</span></a>
            </li>
            <li>
              <a class="header-nav-btn" href="/users/my-page"><span>마이 페이지</span></a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="body-container">
      Welcome! <%= email%>님 환영합니다!
      <form action="/users/logout" method="post">
        <input class="send-btn" type="submit" value="Logout" />
      </form>
    </div>
  </body>
</html>
