<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0" />
    <meta http-equiv="imagetoolbar" content="no" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="pragma" content="no-cache" />
    <title>University Friends with Offline(UFO) | 대팅</title>
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="icon" type="image/png" href="https://ufwo.s3.ap-northeast-2.amazonaws.com/logo.jpeg" />
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;lang=en" />
  </head>
  <body>
    <div class="header">
      <img class="logo" src="https://ufwo.s3.ap-northeast-2.amazonaws.com/logo.jpeg" onclick="window.location.href='/';" />
    </div>
    <div class="content">
      <div class="form-box">
        <div class="welcome">회원가입을 축하합니다!</div>
        <div class="login-btn"><a href="/users/login">로그인 하기</a></div>
      </div>
    </div>
  </body>
</html>
